body{
	background-color: lightgrey;
	color: indigo;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
	color: #011f22;
	
}

h2{
	color: #000fff;
}

h3{
	color: #6c0404;
}

p{
	color: #184343;
}

a:visited{
	color: aqua;
}